$angel_red: #c0392b;
$white: #FFF;


.navbar {
  background-color: $angel_red;
  border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $white;
}

.navbar-inverse .navbar-brand {
  color: $white;
}

.navbar-inverse .navbar-nav>li>a {
  color: $white;
}

.navbar-nav>li>a {
  color: $white;
}

.navbar-brand{
  color: $white;
}

.navbar-inverse .navbar-toggle {
  border-color: $white;
}