$angel_red: #c0392b;
$white: #FFF;

@import './partials/animations.scss';
@import './partials/test.scss';
@import './partials/rotatingcard.scss';

.navbar {
  background-color: $angel_red;
  border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: $white;
}

.navbar-inverse .navbar-brand {
  color: $white;
}

.navbar-inverse .navbar-nav>li>a {
  color: $white;
}

.navbar-nav>li>a {
  color: $white;
}

.navbar-brand{
  color: $white;
}

.jumbotron {
  background: url("/img/three.jpg") no-repeat center center;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  color: #FFF; // change text color
  height: 100vh;
  margin-top: -50px;
}

.root {
          margin-top: 50px;
        }

.navbar-inverse .navbar-toggle {
  border-color: $white;
}


.gallery {
  margin-top: 100px;
}