<div class="container help">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!--         <div class="col-sm-1"></div> -->
            <div class="col-md-4 col-sm-6" ng-repeat="d in directors">
                <div id="test" class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover">
                                <img src="img/cards/clouds.jpg"/>
                            </div>
                            <div class="user">
                                <img class="img-circle" ng-src="http://placehold.it/220x220" err-src="img/children/default.jpeg"/>
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">{{d.name}}</h3>
                                    <p class="text-center">{{d.title}}</p>
                                    <p class="profession">"{{d.quote}}"</p>
                                </div>
                                <div class="footer">
                                    <button id="others" class="btn btn-simple">
                                        <i class="fa fa-mail-forward"></i> Read More
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                    </div> <!-- end card -->
                </div> <!-- end card-container -->
            </div> <!-- end col sm 3 -->
            <!--         <div class="col-sm-1"></div> -->
        </div> <!-- end row -->
        <div class="space-200"></div>
    </div>