<div class="container faq">
    <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Can anyone hold a fundraiser?</h3>
                <p>Yes! All you need is passion! We encourage our supporters to hold any type of fundraiser from a birthday party, garage sale, bake sale, car wash to a walk-a-thon, 5k/marathon, or collecting change!  Everyone can make a difference and we encourage everyone to get involved!</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Can I use your logo for my fundraiser flyers, banners etc.?</h3>
                <p>Yes, however contact Kasia or Gosia for approval of the use of the logo. Appropriate wording for any promotion is as follows: “A portion of the proceeds from (event name) will go to benefit the You Can Be My Angel Foundation.”  The You Can Be My Angel Foundation name and logo may not be used in any way that may appear as a trademark or endorsement of the sponsor’s product(s).</p>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>Can I get reimbursed for expenses incurred while holding a fundraiser?</h3>
                <p>No, any expenses incurred during a fundraiser organized by you or your team is your sole responsibility. When holding a fundraiser where expenses are incurred, you should ask the following questions before moving forward:</p>
                <ol>
                    <li>How will expenses be paid? Where will funds for these expenses come from?</li>
                    <li>Is the revenue worth the effort of volunteer time?</li>
                </ol>
            </div>
        </div>


    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3>Can I have a You Can Be My Angel Foundation representative/s attend my event? </h3>
            <p>Yes, if schedules permit.</p>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3>Can I use You Can Be My Angel Foundation’s Tax ID number for my fundraiser?</h3>
            <p>Any/all use of You Can Be My Angel Foundation Tax I.D. number is restricted to use by our foundation for
                YCBMAF led events.</p>
        </div>


        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3>Can You Can Be My Angel Foundation provide insurance for my fundraising event?</h3>
            <p>No, use of our insurance may not be transferred to you for your event.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3>Can I have my event/fundraiser promoted on You Can Be My Angel Foundation Facebook Fanpage? </h3>
            <p>Yes, we will be able to use our social media platform to promote your event.</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h3>Will I/my supporters receive a tax-deductible receipt from You Can Be My Angel Foundation?</h3>
            <p>A tax-deductible receipt will be provided from us only if each individual supporter pays the funds
                directly to You Can Be My Angel Foundation.</p>
        </div>
    </div>


</div>