<div class="container faq">

    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can I get reimbursed for expenses incurred while holding a fundraiser?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>A: No, any expenses incurred during a fundraiser organized by you or your team is your sole responsibility. When holding a fundraiser where expenses are incurred, you should ask the following questions before moving forward:</p>
                    <ol>
                        <li>How will expenses be paid? Where will funds for these expenses come from?</li>
                        <li>Is the revenue worth the effort of volunteer time?</li>
                    </ol>
                    </p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can I have a You Can Be My Angel Foundation representative/s attend my event?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>Yes, if schedules permit.</p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can I use You Can Be My Angel Foundation’s Tax ID number for my fundraiser?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>A: Any/all use of You Can Be My Angel Foundation Tax I.D. number is restricted to use by our foundation for YCBMAF led events.</p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can You Can Be My Angel Foundation provide insurance for my fundraising event?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>No, use of our insurance may not be transferred to you for your event.</p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can I have my event/fundraiser promoted on You Can Be My Angel Foundation Facebook Fanpage?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>A: Yes, we will be able to use our social media platform to promote your event.</p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Will I/my supporters receive a tax-deductible receipt from You Can Be My Angel Foundation?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>A: A tax-deductible receipt will be provided from us only if each individual supporter pays the funds directly to You Can Be My Angel Foundation.</p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can I have my event/fundraiser promoted on You Can Be My Angel Foundation Facebook Fanpage?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>A: Yes, we will be able to use our social media platform to promote your event.</p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can anyone hold a fundraiser?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>A: Yes! All you need is passion! We encourage our supporters to hold any type of fundraiser from a birthday party, garage sale, bake sale, car wash to a walk-a-thon, 5k/marathon, or collecting change!  Everyone can make a difference and we encourage everyone to get involved!</p>
                </div>
            </div>
        </div>
    </div><!--/panel--><div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                <h4 class="panel-title">
                    <a href="" data-target="#" class="ing">Q: Can I use your logo for my fundraiser flyers, banners etc.?</a>
                </h4>
            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                    <p>A: Yes, however contact Kasia or Gosia for approval of the use of the logo. Appropriate wording for any promotion is as follows: “A portion of the proceeds from (event name) will go to benefit the You Can Be My Angel Foundation.”  The You Can Be My Angel Foundation name and logo may not be used in any way that may appear as a trademark or endorsement of the sponsor’s product(s).</p>
                </div>
            </div>
        </div>
    </div><!--/panel-->

</div>