<!--<img class="img-responsive center-block" src="img/three.jpg" alt="">-->
<div class="container">
    <div class="row">
        <!--News Item Columns-->
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="img/one.jpg" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <!-- End News Items -->

        <div class="events">
            <div class="col-sm-6 col-md-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main row -->
</div>