<div class="container">
    <div class="row">
        <!--<h3 class="text-center">Platinum</h3>-->
    </div>
    <div class="row">
        <h3 class="text-center">Gold</h3>
        <img src="/img/sponsors/cms.png" alt="" class="img-responsive center-block">
    </div>
    <div class="row">
        <h3 class="text-center">Silver</h3>
        <img src="/img/sponsors/quality.png" alt="" class="img-responsive center-block">
    </div>
    <div class="row">
        <h3 class="text-center">Bronze</h3>
        <img src="/img/sponsors/children.png" alt="" class="img-responsive center-block">
        <img src="/img/sponsors/dor.png" alt="" class="img-responsive center-block">
    </div>
    <div class="row">
        <h3 class="text-center">Other</h3>
        <img src="/img/sponsors/classic.png" alt="" class="img-responsive center-block">
        <img src="/img/sponsors/pacc.png" alt="" class="img-responsive center-block">
        <img src="/img/sponsors/akrom.png" alt="" class="img-responsive center-block">
    </div>
</div>