/* ANIMATIONS */

.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }

/*  FAQ page enter and leave */

.page-faq.ng-animate {
  transition:0.5s linear all;
}
.page-faq.ng-enter {
  opacity:0;
}
.page-faq.ng-enter.ng-enter-active {
  opacity:1;
}
.page-faq.ng-leave {
  //opacity:1;
  display: none;
}
.page-faq.ng-leave.ng-leave-active {
  //opacity:0;
  display: none;
}

/*  Home page enter and leave */


.page-home.ng-animate {
  transition:0.5s linear all;
}


.page-home.ng-enter {
  opacity:0;
}
.page-home.ng-enter.ng-enter-active {
  opacity:1;
}

.page-home.ng-leave {
  //opacity:1;
  display: none;
}

.page-home.ng-leave.ng-leave-active {
  //opacity:0;
  display: none;
}


.expand:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: .8s; }

.expand {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-duration: .8s;
}