body,html {
  height: 100%;
}

.wide {
  width:100%;
  //height:auto;
  height:calc(100% - 1px);
  background-size:cover;
  background:
          /* top, transparent red */
          linear-gradient(
                          rgba(0, 0, 0, 0.45),
                          rgba(0, 0, 0, 0.45)
          ),
            /* bottom, image */
          url(/img/three.jpg);
}

.gradient {
  display: inline-block;
  z-index: 111;
}
